body {
  background-color: #000000;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-left: 18em;
  margin-top: 80px;
  background-color: #232323;
  border-radius: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: aliceblue;
}

.song-card {
  background-color: #272626;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}

.song-card:hover {
  background-color: #464444;
  transition: 0.5s ease-out 100ms;

}

.song-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.song-card .info {
  padding: 10px;
  color: aliceblue;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.song-card h3 {
  margin: 0;
  font-size: 1em;
  color: aliceblue;
}

.song-card p {
  margin: 5px 0;
  color: #777;
}

audio {
  width: 100%;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131212;
  position: fixed;
  right: 0px;
  left: 18em;
  top: 0;
  border-radius: 5px;
}

header h1 {
  font-family: "Audiowide", sans-serif;
  color: rgb(20, 152, 8);

}

/* Sidebar */
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 background-color: #131212;
  width: 270px;
  position: fixed;
  top: 0;
  bottom: 0;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logo {
  display: block;
}

.logo img {
  width: 350px;
  height: 300px;
}

.sidebar .admin-choices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Audiowide", sans-serif;
}
.admin-choices a{
	color: white;
}
.admin-choices a:hover {
	color: rgb(20, 152, 8);
}